.DS_Store
PythonCode/mysite/mysite/__pycache__/
PythonCode/mysite/polls/__pycache__/
PythonCode/mysite/polls/migrations/__pycache__/
PythonCode/mysite/mysite/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/settings.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/urls.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/wsgi.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/admin.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/apps.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/forms.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/models.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/tables.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/views.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0001_initial.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0002_person.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0003_aufzeichnungen.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0004_alter_aufzeichnungen_ankunft_and_more.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0005_alter_aufzeichnungen_kommentar.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0006_anwesenheitsliste_delete_aufzeichnungen.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0007_remove_anwesenheitsliste_qr_id_anwesenheitsliste_qr_and_more.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0008_alter_person_ankunft.cpython-39.pyc
out/
