.DS_Store
PythonCode/mysite/mysite/__pycache__/
PythonCode/mysite/polls/__pycache__/
PythonCode/mysite/polls/migrations/__pycache__/
PythonCode/mysite/mysite/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/settings.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/urls.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/wsgi.cpython-39.pyc
PythonCode/mysite/polls/__pycache__/
PythonCode/mysite/polls/migrations/__pycache__
out/
PythonCode/mysite/mysite/__pycache__
PythonCode/mysite/polls/__pycache__
PythonCode/mysite/polls/migrations/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/polls/migrations/__pycache__/0001_initial.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/__init__.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/settings.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/urls.cpython-39.pyc
PythonCode/mysite/mysite/__pycache__/wsgi.cpython-39.pyc
PythonCode/mysite/polls/__pycache__
PythonCode/mysite/polls/migrations
PythonCode/mysite/~$Personen.xlsx
