{# mysite/hello.html #}
{% extends "htmlseiten/base.html" %}

{% load render_table from django_tables2 %}

{% block title %}Hauptseite{% endblock title %}
{% block page_content %}
        <h1>Hauptseite<br></h1>      
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'schuelerliste' %}'">Schülerliste</button>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'anwesenheitsliste' %}'">Anwesenheitsliste</button>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'anwesenheitsliste_tag' %}'">Heutige Anmeldungen</button>
        <button type="button" class="btn btn-primary" onclick="location.href='{% url 'import_excel' %}'">Excel Import</button>
    {% endblock page_content %}