{# mysite/people.html #}
{% extends "htmlseiten/base.html" %}

{% load render_table from django_tables2 %}

{% block title %}Klassenliste{% endblock title %}

    {% block page_content %}
    <h1>Klassenliste Übersicht</h1>

    <table id="klassen" class="table table-striped">

    {% for x in alter %}
        <tr>
        {% for y in buchstaben %}
            <th> <button type="button" class="btn btn-info" style="padding:20px 30px; font-size:3rem"   onclick="location.href='{% url 'schueler_klassenauswahl' x y%}'">{{x}}{{y}}</button> </th>
        {% endfor %}
        </tr>
        {% endfor %}

    </table>

    {% endblock page_content %} 